body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}

canvas {
    background-color: brown;
    border: 3px solid black;
    box-shadow: 0px 0px 15px gray;
}

.over {
    animation-duration: 300ms;
    animation-name: gameover;
    border-color: green;
    box-shadow: 0px 0px 15px green;
}

button {
    padding: 20px 30px;
    background-color: brown;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}

label {
    font-size: 23px;
}

select {
    border: 2px solid brown;
    padding: 5px;
}

p {
    font-size: 15px;
    color: black;
}

.finaltime {
    animation-duration: 300ms;
    animation-name: final;
    font-size: 20px;
    color: green;
}

@keyframes final {
    from {font-size: 15px; color: black;}
    to {font-size: 20px; color: green;}
}

@keyframes gameover {
    from {border-color: black; box-shadow: 0px 0px 15px gray;}
    to {border-color: green; box-shadow: 0px 0px 15px green;}
}